DEEPGRAM_API_KEY = "your_deepgram_api_key"
GOOGLE_API_KEY = "your_google_api_key"
VIDEOSDK_API_KEY = "videosdk_api_key"
VIDEOSDK_SECRET_KEY = "videosdk_secret_key"
NVIDIA_API_KEY = "your_nvidia_api_key"